* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root {
    background-color: #ffffff;
    height: 100vh;
    max-height: 100vh;
    overflow: auto;
}
.flex {
    display: flex;
    flex-direction: column;
}
.relative {
    position: relative;
}
.full-height {
    height: 100vh;
}
.margin {
    margin: 8px;
}
.padding {
    padding: 2em;
}
.align-center {
    display: flex;
    align-items: center;
}
.flex-1 {
    flex: 1;
    width: 100%;
}
.flex-2 {
    flex: 2;
    width: 100%;
}
/* #room {
    z-index: 1;
} */
#canvas {
    border: 1px solid #000000;
}
/* .v-div {
    background-color: #f0f0f0;
    border-radius: 8px;
} */
@media only screen and (min-width: 992px) {
    .flex {
        display: flex;
        flex-direction: row;
    }
}